html{font-family:sans-serif;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type="button"],/* 1 */
[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,/* 1 */
menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}body {margin: 0px;padding: 0px;}

/*resset css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    min-height: 100vh;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}

header {
    font-size: 30px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 15px;
    font-size: 20px;
    border: none;
    background: white;
    border-radius: 10px 0 0 10px;
}

form input:focus {
    box-shadow: 0 0 10px #449ec3;
}

button{
    box-shadow: 0 0 5px #449ec3;
}

form button {
    color: #449ec3;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0 10px 10px 0;
}

form button:hover {
    background: #449ec3;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.todo-list {
    min-width: 30%;
    max-height: 400px;
    overflow-y: scroll;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #449ec3;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.trash-btn {
    border-radius: 0 10px 10px 0;
}

.trash-btn:hover {
    box-shadow: 0 0 15px #449ec3;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.complete-btn:hover {
    box-shadow: 0 0 15px  rgb(11, 212, 162);
}


.complete-btn:active {
    transition: 0.1s;
    box-shadow: 0 0 45px rgb(11, 212, 162);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(1000px);
    transition: 1s;
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

/* Custom Select */
.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

select {
    color: #449ec3;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}

/* Arrow */
.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #449ec3;
    cursor: pointer;
    pointer-events: none;
    box-shadow: 0 0 5px #449ec3;
}
